* {
  margin: 0;
  padding: 0;
}

body {
  min-width: 750px;
  background-image: url(/과제/images/beach-sea-coast-ocean-horizon-cloud-382750-pxhere.com.jpg);
  background-size: cover; /* 이미지를 버튼에 맞게 조절하여 전체 이미지가 보이도록 설정 */
  background-repeat: no-repeat; /* 이미지 반복 방지 */
  background-position: center;
}

#wrap {
  font-size: 20px;
  color: #fff;
  width: 1800px;
  height: 1100px;
  text-align: center;
  margin: 0 auto;
}

.header {
  position: relative;
  width: 100%;
  height: 100px;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  margin: 0 auto;
}
.header img {
  width: 45px;
  height: 45px;
  border: 1px solid;
  border-radius: 50px;
  margin: 10px;
  margin-right: -16px;
  position: relative;
  border: 1px solid black;
}
.logo {
  font-size: 25px;
  color: #ffffff;
  text-decoration: none;
  font-weight: 900;
  position: relative;
  margin: 10px 1.5%;
  margin-right: -70px;
  white-space: nowrap;
  text-shadow: -1px 0px black, 0px 1px black, 1px 0px black, 0px -1px black;
}
.nav {
  margin-left: auto;
  white-space: nowrap;
}
.nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  height: 46px;
  margin: 0;
  padding: 0;
}

.nav ul li {
  font-weight: 600;
  font-size: 15px;
  margin: 0 12px;
  text-decoration: none;
  margin: 0 12px;
}

.nav ul li a {
  text-decoration: none;
  color: #ffffff;
}
.nav ul li a:hover {
  background-color: rgb(255, 255, 255);
  border: 1px solid black;
  border-radius: 10px;
  padding: 5px;
  color: #000;
}

.login {
  position: relative;
  justify-content: center;
  align-items: center;
  display: flex;
  padding-right: 6%;
}

.login a {
  cursor: pointer;
  color: #000000;
  height: 26px;
  width: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 18px;
  line-height: 18px;
  position: absolute;
  right: 20px;
  background: #ffffff;
  text-decoration: none;
}
.aside {
  float: left;
  width: 219px;
  height: 890px;
  background: #081b29;
  font-size: 15px;
  overflow: auto;
  text-align: center;
  border-left: 2px solid rgb(255, 255, 255);
  border-top: 2px solid rgb(255, 255, 255);
  border-bottom: 2px solid rgb(255, 255, 255);
  border-top-left-radius: 10px;
}
.aside ul {
  list-style-type: none;
  line-height: 2em;
  margin: 10px 15px;
  color: #000;
}
.aside ul li a {
  text-decoration: none;
  color: #ffffff;
}
.aside ul li a:hover {
  background-color: rgb(172, 172, 172);
  border: 1px solid black;
  border-radius: 10px;
  padding: 5px;
}

.section1 {
  float: left;
  width: calc(100% - 225px);
  height: 890px;
  background: #081b29;
  flex: 1 0 auto;
  overflow: auto;
  border: 2px solid rgb(255, 255, 255);
}

.section1 .video {
  width: 100%;
  display: inline;
}
.section1 .video iframe {
  margin: 10px -5px 0px 15px;
  border: 1px solid black;
}
.footer {
  clear: both;
  width: 1796px;
  min-height: auto;
  background: #ffffff;
  color: #000000;
  font-size: 15px;
  justify-content: space-between;
  text-align: center;
  position: relative;
  padding: 10px 0;
  border-bottom: 2px solid white;
  border-left: 2px solid white;
  border-right: 2px solid white;
  border-bottom-right-radius: 10px;
}
.footer-content {
  align-items: center;
  font-weight: 600;
  justify-content: center;
  display: flex;
}

.icon {
  margin-right: 10px;
  margin-left: 10px;
}

.text p {
  margin: 0;
}
